{% extends 'dash_base.html' %}
{% block content %}
<div class="content">
    <h1>Welcome Admin!</h1>

    <form id="sliderForm">
        <div class="form-group">
            <label for="Image">Image</label>
            <input type="file" class="form-control" name="Image" id="Image">
        </div>
        <div class="form-group">
            <label for="Sequence">Sequence</label>
            <input type="number" class="form-control" name="Sequence" id="Sequence">
        </div>
        <button type="submit" class="btn btn-active btn-primary">Save</button>
    </form>

    <table class="table" id="sliderTable">
        <thead>
            <tr>
                <td>Image</td>
                <td>Sequence</td>
            </tr>

        </thead>
        <tbody >
        </tbody>
    </table>
</div>


{% endblock %}

{% block script %}


<script>
    
    
    
    const table = $('#sliderTable').DataTable({
        ajax:{
                url:'/api/add_slider/',
                dataSrc: ''
            },
        columns:[
            {
                data: "Image",
                render: function(data){
                    return `<img src="${data}" width=80 height=80>`
                }
            },
            {
                data: "Sequence"
            }
        ],
        language: {
            lengthMenu: "_MENU_",
            search: "",
            searchPlaceholder: "Search..."
        },
        {% comment %} fnRowCallback: function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        } {% endcomment %}
    })

    jQuery('#sliderForm').submit(function(e){
        e.preventDefault()
        e.stopImmediatePropagation()
        const data = new FormData(document.getElementById('sliderForm'))
        jQuery.ajax({
            url: '/api/add_slider/',
            method: 'POST',
            data: data,
            contentType:false,
            processData: false
        }).done(resp=>{
            table.ajax.reload()
        }).fail(err=>console.log(err))
    })
    
</script>

{% endblock script %}

