<!doctype html>
<html lang="en">
  <head>
  {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock title %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
  </head>
  <body>
    <div class="container">
      <!-- Logo -->
      <div class="logo">
        <img src="{% static 'website/images/Logo.jpg' %}" alt="Banner">
      </div>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item {% if request.path == '/' %} active {% endif %}">
              <a class="nav-link" href="/">ಮುಖಪುಟ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.path == '/about-us' %} active {% endif %}">
              <a class="nav-link" href="/about-us">ಗ್ರಾಪಂ ಬಗ್ಗೆ</a>
            </li>
            <li class="nav-item {% if request.path == '/members' %} active {% endif %}">
              <a class="nav-link" href="/members">ಸದಸ್ಯರು</a>
            </li>
            <li class="nav-item {% if request.path == '/staffs' %} active {% endif %}">
              <a class="nav-link" href="/staffs">ಅಧಿಕಾರಿ/ಸಿಬ್ಬಂದಿ</a>
            </li>
            <li class="nav-item dropdown {% if request.path == '/property-info' %} active {% endif %}">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ಅಸ್ತಿಗಳ ಮಾಹಿತಿ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/property-info">ಸ್ತಿರ ಅಸ್ತಿ ಮಾಹಿತಿ</a>
                <a class="dropdown-item" href="/property-info">ಚರ ಅಸ್ತಿ ಮಾಹಿತಿ</a>
                <a class="dropdown-item" href="/property-info">ಕುಡಿಯುವ ನೀರು ಮಾಹಿತಿ</a>
                <a class="dropdown-item" href="/property-info">ಬಿಧಿಧೀಪ ಮಾಹಿತಿ</a>
                <a class="dropdown-item" href="/property-info">ಕಟ್ಟಡಗಳ ಮಾಹಿತಿ</a>
              </div>
            </li>
            <li class="nav-item {% if request.path == '/education-info' %} active {% endif %}">
              <a class="nav-link" href="/education-info">ಶಿಕ್ಷಣ ಮಾಹಿತಿ</a>
            </li>
            <li class="nav-item {% if request.path == '/visit-places' %} active {% endif %}">
              <a class="nav-link" href="/visit-places">ಪ್ರೇಕ್ಷನೀಯ ಸ್ಥಳಗಳು</a>
            </li>
            <li class="nav-item {% if request.path == '/library' %} active {% endif %}">
              <a class="nav-link" href="/library">ಗ್ರಂಥಾಲಯ</a>
            </li>
            <li class="nav-item {% if request.path == '/others' %} active {% endif %}">
              <a class="nav-link" href="/others">ಇತರೆ</a>
            </li>
          </ul>
        </div>
      </nav>
    {% block content %} {% endblock content %}
    {% block script %} {% endblock script %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
