{% extends 'base.html' %}
{% load static %}
{% block title %} about us {% endblock title %}
{% block content%}
      <!-- Section -->
      <div class="container about">
        <div class="content">
        <h5 class="center"><b>~:: ನಮ್ಮ ಗ್ರಾಪಂನ ಬಗ್ಗೆ ::~</b></h5>

        <p>ತಾಲ್ಲೂಕು ಕೇಂದ್ರ ಮಳವಳ್ಳಿಯಿಂದ ಪೂರ್ವ ದಿಕ್ಕಿಗೆ 04 ಕಿ.ಮೀ., ದೂರದಲ್ಲೂ, ಜಿಲ್ಲಾ ಕೇಂದ್ರ ಮಂಡ್ಯದಿಂದ 39 ಕಿ.ಮೀ., ಅಂತರದಲ್ಲಿದೆ. ನಿಡಘಟ್ಟ ಗ್ರಾಮವನ್ನು ಕೇಂದ್ರ ಕಾರ್ಯಸ್ಥಳವಾಗಿಸಿಕೊಂಡು ಗ್ರಾಮ ಪಂಚಾಯತ್ ಕಾರ್ಯಾಲಯವನ್ನು ಸ್ಥಾಪಿಸಲಾಗಿದೆ. ಈ ಪಂಚಾಯತ್ ವ್ಯಾಪ್ತಿಗೆ ನಿಡಘಟ್ಟ, ಕ್ಯಾತೇಗೌಡನದೊಡ್ಡಿ (ದಾ), ಚೋಳನಹಳ್ಳಿ (ದಾ), ಗಾಜನೂರು, ಸುಣ್ಣದದೊಡ್ಡಿ (ದಾ) ಮತ್ತು ಗೌಡಗೆರೆ ಗ್ರಾಮಗಳು ಸೇರುತ್ತವೆ. ಒಟ್ಟು 14 ಚುನಾಯಿತ ಸದಸ್ಯರ ಬಲವನ್ನು ಈ ಗ್ರಾಮ ಪಂಚಾಯತ್ ಹೊಂದಿದ್ದು, ಇದರಲ್ಲಿ ತಲಾ 07 ಮಂದಿ ಮಹಿಳಾ ಸದಸ್ಯರು ಹಾಗೂ ಪುರುಷ ಸದಸ್ಯರು ಇದ್ದಾರೆ. ಗೌಡಗೆರೆ ಮತ್ತು ನಿಡಘಟ್ಟ ಗ್ರಾಮಗಳಿಂದ ತಲಾ 04, ಗಾಜನೂರು ಮತ್ತು ಕ್ಯಾತೇಗೌಡನದೊಡ್ಡಿ ಗ್ರಾಮಗಳಿಂದ ತಲಾ 03 ಚುನಾಯಿತ ಪ್ರತಿನಿಧಿಗಳಿದ್ದಾರೆ.</p>
        <p>ಗ್ರಾಮವು ಮಂಡ್ಯ ಲೋಕಸಭಾ, ಮದ್ದೂರು ವಿಧಾನಸಭಾ, ಚೊಟ್ಟನಹಳ್ಳಿ ಜಿಲ್ಲಾ ಪಂಚಾಯತ್ ಹಾಗೂ ನಿಡಘಟ್ಟ ತಾಲ್ಲೂಕು ಪಂಚಾಯತ್ ಕ್ಷೇತ್ರ ವ್ಯಾಪ್ತಿಗೆ ಒಳಪಡುತ್ತದೆ. ಗ್ರಾಮ ಪಂಚಾಯಿತಿ ವ್ಯಾಪ್ತಿಯಲ್ಲಿ ಒಕ್ಕಲಿಗರು, ಲಿಂಗಾಯಿತರು, ಪರಿಶಿಷ್ಠ ಜಾತಿ, ಬೆಸ್ತರು, ಮಡಿವಾಲರು, ಮುಸ್ಲಿಮರು ಇತರೆ ಜನಾಂಗದವರು ವಾಸಿಸುತ್ತಿದ್ದಾರೆ. ಇಲ್ಲಿನ ಜನರ ಮುಖ್ಯ ಕಸುಬು ಬೇಸಾಯ. ಗ್ರಾಮ ಪಂಚಾಯಿತಿ ವ್ಯಾಪ್ತಿಯಲ್ಲಿ ಒಟ್ಟು 2 ಸರ್ಕಾರಿ ಕಿರಿಯ ಪ್ರಾಥಮಿಕ ಶಾಲೆಗಳು, 04 ಹಿರಿಯ ಪ್ರಾಥಮಿಕ ಶಾಲೆಗಳಿರುತ್ತವೆ. ಕೆ.ಜಿ.ದೊಡ್ಡಿಯಲ್ಲಿ ಒಂದು ಪ್ರೌಢಶಾಲೆ ಇದೆ. 4 ಅಂಗನವಾಡಿ ಕೇಂದ್ರಗಳು ಮತ್ತು 2 ಪಶುವೈದ್ಯ ಆಸ್ಪತ್ರೆಗಳು ಇವೆ.</p>
        <hr>
        <h6><b>ಗ್ರಾಮ ಪಂಚಾಯತ್ ವ್ಯಾಪ್ತಿ ಗ್ರಾಮಗಳ ಹಿನ್ನೆಲೆ</b></h6>

        <ul>
          <li><b>ಪ್ರಮುಖ ಗ್ರಾಮ1:</b> ಉಪಗ್ರಾಮ1,ಉಪಗ್ರಾಮ2,ಉಪಗ್ರಾಮ1 - <a href="#" class="btn btn-info">Info</a> </li>
          <li><b>ಪ್ರಮುಖ ಗ್ರಾಮ2:</b>  - <a href="#" class="btn btn-info">Info</a> </li>
          <li><b>ಪ್ರಮುಖ ಗ್ರಾಮ3:</b> ಉಪಗ್ರಾಮ1,ಉಪಗ್ರಾಮ2,ಉಪಗ್ರಾಮ1 - <a href="#" class="btn btn-info">Info</a> </li>
        </ul>
        </div>
      </div>
      <!-- Footer -->
      <div class="container footer">
        <div class="row">
          <div class="one">
            <p>ಇಲ್ಲಿನ ವಿಷಯಗಳ ಸ್ವತ್ತು ಮತ್ತು ನಿರ್ವಹಣೆ: ನಿಢಘಟ್ಟ ಗ್ರಾಮ ಪಂಚಾಯತ್</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  {% endblock content %}