{% extends 'base.html' %}
{% load static %}
{% block title %} education-info {% endblock title %}
{% block content%}
      <!-- Section -->
      <div class="container education">
        <div class="content" style="overflow-x:auto;">
        <h5 class="center"><b>~:: ಶಿಕ್ಷಣ ಮಾಹಿತಿ ::~</b></h5>
        <table class="table table-bordered center m-t-20">
          <thead>
            <tr>
              <th scope="col">Sl.no</th>
              <th scope="col">Name</th>
              <th scope="col">No Men</th>
              <th scope="col">No Women</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><a href="#">Anganwadi</a></td>
              <td>25</td>
              <td>15</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><a href="#">School</a></td>
              <td>150</td>
              <td>180</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><a href="#">High School</a></td>
              <td>250</td>
              <td>200</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td><a href="#">College</a></td>
              <td>300</td>
              <td>280</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td><a href="#">Hostel</a></td>
              <td>150</td>
              <td>80</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td><a href="#">Hospital</a></td>
              <td>20</td>
              <td>50</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      <!-- Footer -->
      <div class="container footer">
        <div class="row">
          <div class="one">
            <p>ಇಲ್ಲಿನ ವಿಷಯಗಳ ಸ್ವತ್ತು ಮತ್ತು ನಿರ್ವಹಣೆ: ನಿಢಘಟ್ಟ ಗ್ರಾಮ ಪಂಚಾಯತ್</p>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}