{% extends 'base.html' %}
{% load static %}
{% block title %} library {% endblock title %}
{% block content%}
      <!-- Section -->
      <div class="container library">
        <div class="content" style="overflow-x:auto;">
        <h5 class="center"><b>~:: ಗ್ರಂಥಾಲಯ ಮಾಹಿತಿ ::~</b></h5>
        <table class="table table-bordered center m-t-20">
          <thead>
            <tr>
              <th scope="col">Sl.no</th>
              <th scope="col">Book Name</th>
              <th scope="col">Book Type</th>
              <th scope="col">Total Books</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><a href="#">Anganwadi</a></td>
              <td>Social</td>
              <td>15</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><a href="#">School</a></td>
              <td>Education</td>
              <td>180</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      <!-- Footer -->
      <div class="container footer">
        <div class="row">
          <div class="one">
            <p>ಇಲ್ಲಿನ ವಿಷಯಗಳ ಸ್ವತ್ತು ಮತ್ತು ನಿರ್ವಹಣೆ: ನಿಢಘಟ್ಟ ಗ್ರಾಮ ಪಂಚಾಯತ್</p>
          </div>
        </div>
      </div>
    </div>
{% endblock content%}