{% extends 'base.html' %}
{% load static %}
{% block title %} others {% endblock title %}
{% block content%}
<!-- Section -->
<div class="container others">
  <!--  -->
  {% for news in newses %}
  <div class="row p-t-20">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <img src="{{news.image.url}}" alt="">
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12">
      <h5 class="center"><b>{{news.title}} </b></h5>
      <p class="center">{{news.short_description}}</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 center">
      <a href="#" class="btn btn-info">View More</a>
    </div>
    <div class="col-lg-12 p-t-20" style="border-bottom:1px solid;"></div>
  </div>
  {% endfor %}
</div>
<!-- Footer -->
<div class="container footer">
  <div class="row">
    <div class="one">
      <p>ಇಲ್ಲಿನ ವಿಷಯಗಳ ಸ್ವತ್ತು ಮತ್ತು ನಿರ್ವಹಣೆ: ನಿಢಘಟ್ಟ ಗ್ರಾಮ ಪಂಚಾಯತ್</p>
    </div>
  </div>
</div>
</div>
{% endblock content %}