{% extends 'base.html' %}
{% load static %}
{% block title %} staff {% endblock title %}
{% block content%}
      <!-- Section -->
      <div class="container staff">
        <div class="content">
        <h5 class="center"><b>~:: ಅಧಿಕಾರಿ/ಸಿಬ್ಬಂದಿ ವಿವರ ::~</b></h5>
        <!-- PDO -->
        <div class="row p-t-20">
          <div class="col-sm"></div>
          <!-- -->
          <div class="col-sm">
            <div class="card">
              <img class="card-img-top" src="images/men.jpg" alt="Card image cap">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">ಹೆಸರು : ಲಕ್ಷ್ಮಣ್</li>
                <li class="list-group-item">ಪದನಾಮ : ಪಿಡಿಒ</li>
                <li class="list-group-item">ಶಿಕ್ಷಣ : ಎಂ. ಎಸ್ ಸಿ</li>
                <li class="list-group-item">ಸ್ಥಳ : ಸವದಟ್ಟಿ</li>
                <li class="list-group-item">ದೂ.ಸಂಖ್ಯೆ : 9876543210</li>
                <li class="list-group-item">ಆಧಾರ್. ಸಂಖ್ಯೆ : 3216549877410</li>
                <li class="list-group-item">ವರ್ಷ : 2020-2021</li>
              </ul>
            </div>
          </div>
          <!-- -->
          <div class="col-sm">
            <div class="card">
              <img class="card-img-top" src="images/men.jpg" alt="Card image cap">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">ಹೆಸರು : ಲಕ್ಷ್ಮಣ್</li>
                <li class="list-group-item">ಪದನಾಮ : ಕಾರ್ಯದರ್ಶಿ</li>
                <li class="list-group-item">ಶಿಕ್ಷಣ : ಎಂ. ಎಸ್ ಸಿ</li>
                <li class="list-group-item">ಸ್ಥಳ : ಸವದಟ್ಟಿ</li>
                <li class="list-group-item">ದೂ.ಸಂಖ್ಯೆ : 9876543210</li>
                <li class="list-group-item">ಆಧಾರ್. ಸಂಖ್ಯೆ : 3216549877410</li>
                <li class="list-group-item">ವರ್ಷ : 2020-2021</li>
              </ul>
            </div>
          </div>
          <div class="col-sm">
            <select class="custom-select">
              <option selected>ಗ್ರಾಮವಾರು ಸಿಬ್ಬಂದಿಗಳು</option>
              <option value="1">ಸಿಬ್ಬಂದಿಗಳು One</option>
              <option value="2">ಸಿಬ್ಬಂದಿಗಳು Two</option>
              <option value="3">ಸಿಬ್ಬಂದಿಗಳು Three</option>
            </select>
          </div>
        </div>
        <!-- Secretry -->
        <div class="row p-t-20">
          <!-- -->
          <div class="col-lg-3 col-md-4 col-sm-6 p-b-20">
            <div class="card">
              <img class="card-img-top" src="images/men.jpg" alt="Card image cap">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">ಹೆಸರು : ಲಕ್ಷ್ಮಣ್</li>
                <li class="list-group-item">ಪದನಾಮ : ಆಪರೇಟರ್</li>
                <li class="list-group-item">ಶಿಕ್ಷಣ : ಎಂ. ಎಸ್ ಸಿ</li>
                <li class="list-group-item">ಸ್ಥಳ : ಸವದಟ್ಟಿ</li>
                <li class="list-group-item">ದೂ.ಸಂಖ್ಯೆ : 9876543210</li>
                <li class="list-group-item">ಆಧಾರ್. ಸಂಖ್ಯೆ : 3216549877410</li>
                <li class="list-group-item">ವರ್ಷ : 2020-2021</li>
              </ul>
            </div>
          </div>
          <!-- -->
          <div class="col-lg-3 col-md-4 col-sm-6 p-b-20">
            <div class="card">
              <img class="card-img-top" src="images/men.jpg" alt="Card image cap">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">ಹೆಸರು : ಲಕ್ಷ್ಮಣ್</li>
                <li class="list-group-item">ಪದನಾಮ : ಆಪರೇಟರ್</li>
                <li class="list-group-item">ಶಿಕ್ಷಣ : ಎಂ. ಎಸ್ ಸಿ</li>
                <li class="list-group-item">ಸ್ಥಳ : ಸವದಟ್ಟಿ</li>
                <li class="list-group-item">ದೂ.ಸಂಖ್ಯೆ : 9876543210</li>
                <li class="list-group-item">ಆಧಾರ್. ಸಂಖ್ಯೆ : 3216549877410</li>
                <li class="list-group-item">ವರ್ಷ : 2020-2021</li>
              </ul>
            </div>
          </div>
          <!-- -->
          <div class="col-lg-3 col-md-4 col-sm-6 p-b-20">
            <div class="card">
              <img class="card-img-top" src="images/men.jpg" alt="Card image cap">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">ಹೆಸರು : ಲಕ್ಷ್ಮಣ್</li>
                <li class="list-group-item">ಪದನಾಮ : ಆಪರೇಟರ್</li>
                <li class="list-group-item">ಶಿಕ್ಷಣ : ಎಂ. ಎಸ್ ಸಿ</li>
                <li class="list-group-item">ಸ್ಥಳ : ಸವದಟ್ಟಿ</li>
                <li class="list-group-item">ದೂ.ಸಂಖ್ಯೆ : 9876543210</li>
                <li class="list-group-item">ಆಧಾರ್. ಸಂಖ್ಯೆ : 3216549877410</li>
                <li class="list-group-item">ವರ್ಷ : 2020-2021</li>
              </ul>
            </div>
          </div>
          <!-- -->
          <div class="col-lg-3 col-md-4 col-sm-6 p-b-20">
            <div class="card">
              <img class="card-img-top" src="images/men.jpg" alt="Card image cap">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">ಹೆಸರು : ಲಕ್ಷ್ಮಣ್</li>
                <li class="list-group-item">ಪದನಾಮ : ಆಪರೇಟರ್</li>
                <li class="list-group-item">ಶಿಕ್ಷಣ : ಎಂ. ಎಸ್ ಸಿ</li>
                <li class="list-group-item">ಸ್ಥಳ : ಸವದಟ್ಟಿ</li>
                <li class="list-group-item">ದೂ.ಸಂಖ್ಯೆ : 9876543210</li>
                <li class="list-group-item">ಆಧಾರ್. ಸಂಖ್ಯೆ : 3216549877410</li>
                <li class="list-group-item">ವರ್ಷ : 2020-2021</li>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- Footer -->
      <div class="container footer">
        <div class="row">
          <div class="one">
            <p>ಇಲ್ಲಿನ ವಿಷಯಗಳ ಸ್ವತ್ತು ಮತ್ತು ನಿರ್ವಹಣೆ: ನಿಢಘಟ್ಟ ಗ್ರಾಮ ಪಂಚಾಯತ್</p>
          </div>
        </div>
      </div>
    </div>
    
{% endblock content%}