{% extends 'base.html' %}
{% load static %}
{% block title %} visit places {% endblock title %}
{% block content%}
      <!-- Section -->
      <div class="container visit-places">
        <!--  -->
        <div class="row p-t-20">
          <div class="col-lg-12 col-md-12 col-sm-12 p-b-20">            
          <h5 class="center"><b>~:: ಗ್ರಾಪಂನಲ್ಲಿ ಜರುಗುವ ವಿವಿಧ ಸಭೆಗಳ ಬಗ್ಗೆ ::~ </b></h5>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12">
            <img src="images/Logo.jpg" alt="">
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <p>
              ಉದ್ದೇಶಗಳು ಆಡಳಿತದಲ್ಲಿ ಜನಸಹಭಾಗಿತ್ವಕ್ಕೆ ಅವಕಾಶ ಕಲ್ಪಿಸುವುದು. ಆಡಳಿತದಲ್ಲಿ  ತರುವುದು. ಸಮಸ್ಯೆಗಳನ್ನು ಸ್ಥಳೀಯವಾಗಿ ಗುರುತಿಸುವುದು, ಆದ್ಯತೆಗಳನ್ನು ನಿರ್ಧರಿಸುವುದು ಪರಿಹಾರ ಕಂಡುಕೊಳ್ಳುವುದು. ಸಾಮಾಜಿಕ ನ್ಯಾಯ ಒದಗಿಸುವುದು.</p>
          </div>
          <div class="col-lg-12 p-t-20" style="border-bottom:1px solid;"></div>
        </div>
        <!--  -->
        <div class="row p-t-20">
          <div class="col-lg-12 col-md-12 col-sm-12 p-b-20">            
          <h5 class="center"><b>~:: ಗ್ರಾಪಂನಲ್ಲಿ ಜರುಗುವ ವಿವಿಧ ಸಭೆಗಳ ಬಗ್ಗೆ ::~ </b></h5>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12">
            <img src="images/Logo.jpg" alt="">
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <p>
              ಉದ್ದೇಶಗಳು ಆಡಳಿತದಲ್ಲಿ ಜನಸಹಭಾಗಿತ್ವಕ್ಕೆ ಅವಕಾಶ ಕಲ್ಪಿಸುವುದು. ಆಡಳಿತದಲ್ಲಿ  ತರುವುದು. ಸಮಸ್ಯೆಗಳನ್ನು ಸ್ಥಳೀಯವಾಗಿ ಗುರುತಿಸುವುದು, ಆದ್ಯತೆಗಳನ್ನು ನಿರ್ಧರಿಸುವುದು ಪರಿಹಾರ ಕಂಡುಕೊಳ್ಳುವುದು. ಸಾಮಾಜಿಕ ನ್ಯಾಯ ಒದಗಿಸುವುದು.</p>
          </div>
          <div class="col-lg-12 p-t-20" style="border-bottom:1px solid;"></div>
        </div>
      </div>
      <!-- Footer -->
      <div class="container footer">
        <div class="row">
          <div class="one">
            <p>ಇಲ್ಲಿನ ವಿಷಯಗಳ ಸ್ವತ್ತು ಮತ್ತು ನಿರ್ವಹಣೆ: ನಿಢಘಟ್ಟ ಗ್ರಾಮ ಪಂಚಾಯತ್</p>
          </div>
        </div>
      </div>
    </div>
{% endblock content%}